/output/
/sources/previousWarrants/
icon.ico
splash.png
/win_exe_v2_3/
/build/
/.vscode/
warrantBuilder.spec
win_exe_v2_3.zip
/old/
/sources/local_version.json
/sources/remote_version.json
/sources/hash_list.json
/testing_grounds/
/dist/